.pressNews {
    box-sizing: border-box;
    display: flex;
    width: 930px;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

    border: 1px solid #D2DAE0;
}